git+https://github.com/microsoft/MoGe.git
accelerate
cumesh
diffusers
easydict
einops
flex_gemm
lpips
matplotlib
natten
numpy
nvdiffrast
o_voxel
opencv-python
pandas
pillow
plyfile
trimesh
https://github.com/LDYang694/Storages/releases/download/20260430/utils3d-0.0.2-py3-none-any.whl